:host {
    .checkbox {
        position: absolute;
        padding: 0;
        height: 0;
        width: 0;
        border: 0;
        overflow: hidden;

        &__label {
            position: relative;
            display: block;
            width: 18px;
            height: 18px;
            border: 2px solid #DADADA;
            cursor: pointer;
        }

        &_checkmarked {
            background-color: #4A95F7;
        }
    }
}

