:host {
    .checkbox {
        display: none;

        &__label {
            position: relative;
            display: block;
            width: 18px;
            height: 18px;
            border: 2px solid #DADADA;
            cursor: pointer;
        }
    }
}

