:host {
    display: block;
    width: 100%;

    &:hover {
        background-color: rgba(143, 175, 255, 0.08);
    }

    .table {
        &__row-name {
            cursor: pointer
        }
    }
}

:host-context(.last-row) {
    .table__row {
        border-bottom: none;
    }
}
