:host {
    display: block;
    width: 100%;

    &:hover {
        background-color: rgba(143, 175, 255, 0.1);
    }

    .table {
        &__row {
            display: grid;
            grid-template-columns: 32px repeat(4, 1fr);
            height: 48px;
            align-content: center;

            td:nth-child(4), td:nth-child(5) {
                text-align: right;
            }
        }

        &__row-name {
            cursor: pointer
        }
    }
}
