:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 53px;
    border-radius: 37px;
    border: none;
    text-transform: uppercase;
}

:host-context([role="delete"]) {
    background: var(--default-delete-button-color);

    &:disabled {
        background: var(--disabled-delete-button-color);
    }

    &:hover {
        background: var(--hover-delete-button-color);
    }
}

:host-context([role="cancel"]) {
    background: var(--default-cancel-button-color);

    &:hover {
        background: var(--hover-cancel-button-color);
    }
}

