:host select {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #BBC5C9;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    &:focus {
        outline: none;
    }
}
