:host {
    display: block;
    padding: 10px 15px;
    background-color: var(--white-color);
    border-radius: 20px;

    .table {
        width: 100%;

        &__controls {
            display: flex;
            column-gap: 8px;
        }

        &__icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border-radius: 100px;
            cursor: pointer;

            &:hover {
                background-color: var(--hover-icon-color);
            }

            &:active {
                background-color: var(--click-icon-color);
            }
        }

        &__header {
            display: grid;
            align-items: center;
            grid-template-columns: 32px repeat(4, 1fr);
            height: 48px;

            th:nth-child(2), th:nth-child(3) {
                text-align: left;
            }

            th:nth-child(4), th:nth-child(5) {
                text-align: right;
            }
        }
    }
}
