<div class="table__controls">
    <div class="table__icon-wrapper" (click)="onAddNewClient()">
        <svg initium-plus-icon></svg>
    </div>
    <div class="table__icon-wrapper" (click)="onDeleteClients()">
        <svg initium-trash-icon></svg>
    </div>
</div>
<table class="table">
    <tr class="table__row">
        <th><initium-checkbox [checked]="!!clients().length && checkedRows().length === clients().length" [id]="'all'" [line]="checkedRows().length > 0 && checkedRows().length < clients().length"  (flowUpStatus)="onChooseAllCheckboxClick($event)"></initium-checkbox></th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>E-email</th>
        <th>Телефон</th>
    </tr>
    @for (client of clients(); track client.id) {
        <initium-table-row [class.last-row]="$last" [client]="client" (rowNameClick)="onClientNameClick($event)"></initium-table-row>
    }
</table>
