<div class="table__controls">
    <div class="table__icon-wrapper">
        <svg initium-plus-icon></svg>
    </div>
    <div class="table__icon-wrapper">
        <svg initium-trash-icon></svg>
    </div>
</div>
<table class="table">
    <tr class="table__header">
        <th><initium-checkbox [checked]="allRowsChecked()" id="all"  (flowUpStatus)="onChooseAllCheckboxClick($event)"></initium-checkbox></th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>E-email</th>
        <th>Телефон</th>
    </tr>
    @for (client of clients(); track client.id) {
        <initium-table-row [client]="client"></initium-table-row>
    }
</table>
